<h2> Certification List </h2>
<table class=" table table-primary table-striped" style="border-radius: 25px">
    <thead class="table-dark">
    <tr>
        <th> id </th>
        <th> Certification Name </th>
        <th> Type </th>
        <th> Scope </th>
        <th> Duration</th>
        <th> Assignment </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let certification of certifications">
        <td> {{certification.id}}</td>
        <td> {{certification.certificationName}}</td>
        <td> {{certification.type}}</td>
        <td> {{certification.scope}}</td>
        <td> {{certification.duration}}</td>
        <td> {{certification.assignment}}</td>
        <td> {{certification.status}}</td>
        <td>
            <button  class=" btn btn-primary"> Update </button>
            <button  class=" btn btn-danger" style="margin-left: 10px" > Delete </button>
        </td>
    </tr>
    </tbody>
</table>

